aioboto3==14.0.0
aiohttp==3.11.7
dspy==2.6.8
graspologic==3.4.1
hnswlib==0.8.0
instructor==1.7.2
lmdeploy==0.7.1
nano_vectordb==0.0.4.3
neo4j==5.26.0
networkx==3.4.2
numpy==2.2.3
ollama==0.4.7
openai==1.65.1
oracledb==2.5.0
pydantic==2.10.6
python_igraph==0.11.8
scipy==1.15.2
tenacity==9.0.0
tiktoken==0.8.0
torch==2.5.1
tqdm==4.67.1
transformers==4.46.3
xxhash==3.5.0
